# ---- Node/React
node_modules/
dist/
.vite/
build/
_pycache__/
*.pyc
.venv/
venv/
**/venv/
.env
*.ipynb_checkpoints/
*.pyd
*.dll
*.lib
*.so
*.dylib
*.pt
*.pth
*.onnx
*.tflite

# ---- OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
orders.json
mala-backend-ai/uploads/
orders.json
mala-backend-ai/uploads/

!mala-backend-ai/uploads/.gitkeep
.env
